*.cmd
*.ko
*.o
*.mod
*.mod.c
*.order
*.symvers

/01_chrdevbase/chrdevbaseApp
/02_led/ledApp
/06_beep/beepApp
/07_atomic/atomicApp
/08_spinlock/spinlockApp
/09_semaphore/semaApp
/10_mutex/mutexApp
/11_key/keyApp
/12_timer/timerApp
/13_irq/imx6uirqApp
/14_blockio/blockioApp
/15_noblockio/noblockioApp
/16_asyncnoti/asyncnotiApp
